.footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vmin 3vmin 5vmin;
}

.social-icons a {
    /*spatiere intre ele*/
    margin: 1vmin;
}

.fa {
    font-size: 4vmin;
}

.social-icons a:hover,
.fa:hover {
    color: #FF7F5B; /* Change to your desired hover color */
}

@media only screen and (max-width: 768px) {
    .fa {
        font-size: 6vmin;
    }
}